.editor-container {
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
}

.note-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    text-align: center;
}

.note-textarea,
.note-preview {
    height: 100%;
    overflow-y: auto;
    transition: width 0.1s ease;
}

.note-textarea {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 50%;
    resize: none;
}

.note-preview {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid var(--secondary-color);
}

.resizer {
    width: 6px;
    cursor: col-resize;
    background: transparent;
    position: relative;
}

.resizer::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: var(--secondary-color);
    transition: background 0.2s;
}

.resizer:hover::after {
    background: var(--accent-color);
}

body.resizing {
    cursor: col-resize;
    user-select: none;
}

#saveNoteBtn {
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    transition: background-color 0.3s;
}
#deleteNoteBtn {
    border-radius: 15px;
    background-color: #df2121;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    transition: background-color 0.3s;
}

#hideNoteBtn {
    border-radius: 15px;
    background-color: #21a3df;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    transition: background-color 0.3s;
}
.saved {
    background-color: #28a745;
    cursor: default;
}
.to-save {
    background-color: #ffc107;
}